# ==========================================
# Keil 自动生成的本地用户配置文件（每次编译或点击都会变，必须忽略）
# ==========================================
*.uvguix.*
*.uvoptx

# ==========================================
# Keil 编译生成的中间文件、临时文件（频繁变动，无需上传）
# ==========================================
*.txt
*.txt.*
*.crf
*.d
*.o
*.axf
*.htm
*.lnp
*.sct
*.lst
*.dep
*.build_log.htm
*.iex
*.i
*.map

# ==========================================
# 编译输出文件夹（如果你的 Keil 把编译文件单独存在了文件夹里）
# ==========================================
obj/
lst/
Build/
Output/
